
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Parametros Generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fbfbfb;
    color: #0f0f0f;
}

ul {
    /* Para quitar los puntos a los items de listas */
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1{
    text-align: center;
    font-size: 36px;
    line-height: 1.2
}

h2{
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

p{
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    padding-top: 20px;
    margin: 16px 0;
}

p{
    padding: 20px;
    text-align: justify;
}

img {
    max-width: 100%;
}

/* HEADER */
header {
    display:flex;
    justify-content: space-between; 
    /* Justificar en el centro */
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    background-color: #fbfbfb;
    /* Para que quede fijo en la ventana */
    position: fixed; 
    top: 0;
    left: 0;
    /* Para agragarle un efecto de sombra */
    box-shadow: 0 3px 10px -5px #5f5f5f;
    
}

.logo {
    width: 120px;
}

/* Menu de Navegación */
ul.menu {
    display: flex;
    font-size: 20px;
}

li.item-menu a{
    padding: 16px;
    display: inline-block;
}

/* NUEVO EFECTO para la clase .active y : hover */

li.item-menu:hover,
li.item-menu a.active,
a.btn:hover {
    background:rgba(176, 21, 21, 0.802);
    transition: background-color 0.3s;
}

/* MAIN */

main {
    max-width: 1200px;
    margin: auto;
}

/* SECCIÓN DE INICIO*/
.imagen-portada{
    width: 400px;
    border-radius: 50%;
    cursor: pointer;
}

.imagen-portada:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    padding-top: 120px;
}

.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boton-cv{
    background-color: #880604;
    color:#fbfbfb;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
}

/* SECCIÓN DE CONTACTO*/

#contacto{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
}

.hablemos {
    background-color: rgba(176, 21, 21, 0.802);
    color: #0f0f0f;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin-bottom: 5rem;
}

ul.redes {
    display:flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
}

li.item-redes {
    margin: 16px;
    padding: 8px;
    border-radius: 4px;
}

/* FOOTER */
footer {
    background-color: #880604;
    height: 90px;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center;  
}


/* MODO ESCRITORIO */

@media (min-width: 1024px) {

    h1{
        font-size: 48px;
        text-align: left;
    }
    
    h2{
        font-size: 32px;
    }

    #inicio{
        flex-direction: row;
    }

    .presentacion {
        width: 50%;
        text-align: left;
    }

    ul.redes {
        margin: 32px;
        width: 450px;
    }
}

/* TEMA OSCURO */

body.dark {
    background-color: #0f0f0f;
    color: #fbfbfb;
}

body.dark .hablemos {
color: #fbfbfb;
}
    
body.dark header {
    background-color: #0f0f0f;
    color: #fbfbfb;
}

.color_icon {
    background-color: #fbfbfb;
}